body {
    background-image: url(../img/interlaced.png);
}

.logo {
    font-family: 'Faster One', cursive;
}

.logo a {
    color: rgba(0, 0, 0, .9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}
