{% extends 'base.html' %}

{% block content %}
    <div class="card" style="margin-top: 10%;">
        <div class="card-header text-capitalize text-xl-center">Analyse</div>
        <div class="card-body">
            <code>{{ code }}</code>
        </div>
        <div class="card-footer text-info">
            <p>{{ report }}</p>
        </div>
    </div>
    <div style="margin-top: 2%;">
        <a href="{% url 'home' %}" class="btn btn-info">Return Home</a>
    </div>
{% endblock content %}
