{% extends 'base.html' %}

{% block content %}
    <div class="card text-center" style="margin-top: 10%;">
        <div class="card-header">
            <div class="col text-center">
                <h4>Upload a PHP file below</h4>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2%;">
            <div class="col text-center">
                <form method="post" enctype="multipart/form-data" action='/upload/'>
                    {% csrf_token %}
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            {{ upload_form.as_p }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-secondary">Analyze</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
